In [1]:
import numpy as np
import pandas as pd
import math
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_validate
# from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn
from sklearn.linear_model import SGDRegressor

df_old=pd.read_excel('Main_DF.xlsx')
# df_old.set_index('Date',inplace=True)
df_old

,Date,MOEXBC,USD_RUB,RGBITR_YIELD,Russia_ETF,OIL,Treas_4M,Copper
0,2018-08-31,15618.89,67.5500,8.53,19.056194,72.072998,2.055,16.719999
1,2018-09-04,15566.94,68.1100,8.60,18.685154,71.266998,2.068,16.340000
2,2018-09-05,15468.67,68.2500,8.72,18.675640,70.967003,2.090,16.420000
3,2018-09-06,15479.21,69.2550,8.86,18.504393,69.955002,2.080,16.540001
4,2018-09-07,15502.19,69.9125,9.00,18.247519,69.875000,2.088,16.379999
5,2018-09-10,15590.56,70.5650,9.10,18.199947,69.639999,2.083,16.459999
6,2018-09-11,15596.12,69.4100,8.91,18.599529,71.669998,2.108,16.440001
7,2018-09-12,15628.20,69.0325,8.71,18.808834,72.679001,2.105,16.830000
8,2018-09-14,15743.93,68.0525,8.68,19.198900,71.101997,2.103,16.440001
9,2018-09-17,15826.38,68.0625,8.75,19.322580,70.976997,2.108,16.580000
10,2018-09-18,16039.43,67.3725,8.67,19.646049,72.040001,2.125,17.150000
11,2018-09-19,16049.08,66.8300,8.58,19.845840,72.940002,2.120,17.120001
12,2018-09-20,15991.26,66.2600,8.53,20.036116,72.557999,2.118,17.320000
13,2018-09-21,16170.70,66.4100,8.52,20.093201,73.150002,2.123,17.850000
14,2018-09-24,16225.03,65.8350,8.47,20.292990,74.717003,2.123,17.709999
15,2018-09-25,16349.59,65.8925,8.48,20.445211,74.873001,2.168,17.670000
16,2018-09-26,16222.59,65.8000,8.48,20.112226,74.067001,2.160,17.700001
17,2018-09-27,16565.95,65.6225,8.45,20.549864,74.737000,2.140,17.430000
18,2018-09-28,16597.36,65.5350,8.38,20.511808,75.699997,2.150,17.580000
19,2018-10-01,16579.67,65.0000,8.36,20.816250,78.150002,2.155,17.480000
20,2018-10-02,16391.15,65.5000,8.34,20.416670,77.750000,2.175,17.580000
21,2018-10-03,16715.42,65.8625,8.39,20.511808,79.070000,2.170,17.730000
22,2018-10-04,16506.10,67.0175,8.52,19.912437,77.038002,2.170,17.469999
23,2018-10-05,16427.85,66.5975,8.58,20.169312,77.019997,2.165,17.350000
24,2018-10-08,16453.51,66.5575,8.68,20.207365,76.839996,2.165,17.420000
25,2018-10-09,16376.66,66.2500,8.70,20.188337,77.563004,2.185,17.629999
26,2018-10-10,16184.97,66.9000,8.66,19.560425,75.379997,2.220,17.320000
27,2018-10-11,15808.84,66.2700,8.71,19.617510,73.300003,2.215,17.360001
28,2018-10-12,16068.48,66.1175,8.65,20.131256,74.041000,2.218,17.680000
29,2018-10-15,15980.09,65.6500,8.60,20.036116,74.059998,2.230,17.490000
...,...,...,...,...,...,...,...,...
147,2019-04-29,17345.68,64.4575,8.12,21.540001,64.940002,2.360,18.139999
148,2019-04-30,17266.96,64.6225,8.07,21.540001,65.266998,2.368,18.180000
149,2019-05-02,17384.73,65.4375,8.05,21.330000,62.930000,2.373,17.410000
150,2019-05-03,17419.14,65.0775,8.06,21.559999,63.169998,2.368,17.639999
151,2019-05-06,17412.00,65.2275,8.09,21.400000,64.169998,2.363,17.790001
152,2019-05-07,17286.95,65.4075,8.08,21.160000,62.560001,2.368,17.430000
153,2019-05-08,17158.31,65.0725,8.07,21.160000,63.270000,2.370,17.340000
154,2019-05-10,16967.69,65.0750,8.08,20.930000,62.939999,2.370,17.360001
155,2019-05-13,16936.19,65.4300,8.09,20.660000,62.178001,2.350,16.990000
156,2019-05-14,17361.79,64.9700,8.08,21.139999,63.134998,2.353,17.010000
157,2019-05-15,17305.71,64.6500,8.06,21.170000,63.709999,2.350,17.160000
158,2019-05-17,17500.70,64.7775,7.97,21.139999,64.178001,2.330,17.080000
159,2019-05-20,17445.12,64.5250,7.93,21.209999,64.559998,2.320,17.059999
160,2019-05-21,17800.56,64.4100,7.91,21.559999,64.419998,2.330,17.000000
161,2019-05-23,17815.26,64.8550,7.85,21.400000,59.316002,2.303,16.790001
162,2019-05-24,17781.16,64.4725,7.85,21.620001,60.090000,2.288,16.910000
163,2019-05-28,17693.94,64.7150,7.85,21.389999,60.040001,2.298,16.840000
164,2019-05-29,17938.14,64.9700,7.88,21.740000,60.122002,2.298,16.670000
165,2019-05-30,18087.47,65.1700,7.84,21.700001,57.709999,2.310,16.559999
166,2019-05-31,18134.33,65.4300,7.83,21.639999,54.382000,2.293,16.469999
167,2019-06-03,18644.95,65.3400,7.85,22.080000,53.965000,2.280,16.620001
168,2019-06-04,18445.02,65.1650,7.82,22.049999,54.689999,2.295,16.670000
169,2019-06-05,18408.07,65.3950,7.75,22.000000,52.849998,2.285,16.410000
170,2019-06-06,18585.21,65.0850,7.70,22.230000,54.334000,2.255,16.530001
171,2019-06-07,18588.37,64.8050,7.67,22.320000,55.189999,2.215,16.370001
172,2019-06-10,18686.22,64.7800,7.64,22.459999,54.472000,2.220,16.650000
173,2019-06-11,18726.01,64.5575,7.62,22.790001,54.491001,2.213,16.719999
174,2019-06-13,18752.39,64.5800,7.64,22.860001,53.342999,2.140,16.610001
175,2019-06-14,18594.47,64.3800,7.61,22.790001,53.750000,2.125,16.430000
176,2019-06-17,18540.65,64.3200,7.57,22.900000,53.088001,2.138,16.570000

In [3]:
df=df_old
# df = sklearn.utils.shuffle(df) # always shuffle your data to avoid any biases that may emerge b/c of some order.
# forecast_col = 'USD_RUB'
# forecast_out = int(math.ceil(0.05 * len(df)))
# forecast_out

In [48]:
# df['label'] = df[forecast_col].shift(-forecast_out)
# df.dropna(inplace=True)
df.tail(10)

,Date,MOEXBC,USD_RUB,RGBITR_YIELD,Russia_ETF,OIL,Treas_4M,Copper
167,2019-06-03,18644.95,65.3400,7.85,22.080000,53.965000,2.280,16.620001
168,2019-06-04,18445.02,65.1650,7.82,22.049999,54.689999,2.295,16.670000
169,2019-06-05,18408.07,65.3950,7.75,22.000000,52.849998,2.285,16.410000
170,2019-06-06,18585.21,65.0850,7.70,22.230000,54.334000,2.255,16.530001
171,2019-06-07,18588.37,64.8050,7.67,22.320000,55.189999,2.215,16.370001
172,2019-06-10,18686.22,64.7800,7.64,22.459999,54.472000,2.220,16.650000
173,2019-06-11,18726.01,64.5575,7.62,22.790001,54.491001,2.213,16.719999
174,2019-06-13,18752.39,64.5800,7.64,22.860001,53.342999,2.140,16.610001
175,2019-06-14,18594.47,64.3800,7.61,22.790001,53.750000,2.125,16.430000
176,2019-06-17,18540.65,64.3200,7.57,22.900000,53.088001,2.138,16.570000

In [4]:
X = df.drop(['Date','USD_RUB'],1).values
y = df['USD_RUB'].values
X = preprocessing.scale(X)
X

array([[-1.18838265,  0.66278123, -1.37629305,  1.33557227, -2.76238939,
        -1.02123897],
       [-1.25259471,  0.89841564, -1.74655307,  1.23376509, -2.61842287,
        -1.62711625],
       [-1.37405994,  1.30236036, -1.75604691,  1.19587217, -2.37478927,
        -1.49956298],
       ...,
       [ 2.68473534, -2.33314207,  2.41951355, -1.03024527, -1.82107028,
        -1.19662282],
       [ 2.48954057, -2.43412825,  2.34966107, -0.97883623, -1.98718651,
        -1.48361844],
       [ 2.42301713, -2.56877648,  2.45942844, -1.0624544 , -1.84321999,
        -1.26040097]])

In [5]:
test_size = 15

X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]
y_test

array([64.4725, 64.715 , 64.97  , 65.17  , 65.43  , 65.34  , 65.165 ,
       65.395 , 65.085 , 64.805 , 64.78  , 64.5575, 64.58  , 64.38  ,
       64.32  ])

In [6]:
clf = svm.SVR(kernel='linear')

clf.fit(X_train, y_train)

print(clf.score(X_test, y_test))

-9.554285735937741

In [56]:
for X,y in list(zip(X_test, y_test))[:10]:
    print(clf.predict([X])[0], y)

65.61065103319571 64.4725
65.79970227829283 64.715
65.6882013332367 64.97
66.02340553947953 65.17
66.47768159786145 65.43
66.65248868290783 65.34
66.23389878977022 65.165
66.35721641298896 65.395
66.22319950342154 65.085
66.20682619910748 64.805

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

NameError: name 'train_test_split' is not defined

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import math

In [11]:
df=pd.read_excel('Main_DF.xlsx')
df.tail(2)

,Date,MOEXBC,USD_RUB,RGBITR_YIELD,Russia_ETF,OIL,Treas_4M,Copper
175,2019-06-14,18594.47,64.38,7.61,22.790001,53.750000,2.125,16.43
176,2019-06-17,18540.65,64.32,7.57,22.900000,53.088001,2.138,16.57

In [12]:
forecast_col = 'USD_RUB'
forecast_out = int(math.ceil(0.03 * len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)
df.tail(10)

,Date,MOEXBC,USD_RUB,RGBITR_YIELD,Russia_ETF,OIL,Treas_4M,Copper,label
167,2019-06-03,18644.95,65.3400,7.85,22.080000,53.965000,2.280,16.620001,64.5575
168,2019-06-04,18445.02,65.1650,7.82,22.049999,54.689999,2.295,16.670000,64.5800
169,2019-06-05,18408.07,65.3950,7.75,22.000000,52.849998,2.285,16.410000,64.3800
170,2019-06-06,18585.21,65.0850,7.70,22.230000,54.334000,2.255,16.530001,64.3200
171,2019-06-07,18588.37,64.8050,7.67,22.320000,55.189999,2.215,16.370001,NaN
172,2019-06-10,18686.22,64.7800,7.64,22.459999,54.472000,2.220,16.650000,NaN
173,2019-06-11,18726.01,64.5575,7.62,22.790001,54.491001,2.213,16.719999,NaN
174,2019-06-13,18752.39,64.5800,7.64,22.860001,53.342999,2.140,16.610001,NaN
175,2019-06-14,18594.47,64.3800,7.61,22.790001,53.750000,2.125,16.430000,NaN
176,2019-06-17,18540.65,64.3200,7.57,22.900000,53.088001,2.138,16.570000,NaN

In [13]:
df.dropna(inplace=True)
df.drop(['Date','Treas_4M','Copper','OIL'],1,inplace=True)
df.tail(2)

       MOEXBC  USD_RUB  RGBITR_YIELD  Russia_ETF  label
169  18408.07   65.395          7.75       22.00  64.38
170  18585.21   65.085          7.70       22.23  64.32

In [15]:
X = np.array(df.drop(['label'], 1))
X = preprocessing.scale(X)
# X = X[:-forecast_out]
X[0]

array([-1.23028823,  1.16872092,  0.63632571, -1.40718349])

In [16]:
X_lately=X[-forecast_out:]
X_lately[0]

array([ 2.18638012, -0.65395704, -1.91568211,  1.45415854])

In [17]:
y = np.array(df['label'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
confidence

0.5214088417663449

In [8]:
clf = LinearRegression(n_jobs=-1)

In [ ]:
for k in ['linear','poly','rbf','sigmoid']:
    clf = svm.SVR(kernel=k)
    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print(k,confidence)

linear -316.65984451150285

C:\Users\123\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)